# Node
node_modules/
dist/

# Python
venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# Env
.env
*.env
backend/firebase-key.json
firebase-key.json
service-account*.json
backend/marketgen-ai-*.json

# Logs
*.log

.vercel
